<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="linkedProfiles.length!=0">
          <ion-item>
            <ion-label>Profiles</ion-label>
          </ion-item>
          <ion-item style="margin-top: 0.5rem; margin-bottom: 0.5rem;" *ngFor="let profile of linkedProfiles">
              <!-- <img alt="" [src]=profile.pictureUrl /> -->
              <div class="profilePic">
                <img alt="" [src]=profile.pictureUrl>
                <ion-badge mode="ios">
                  <ion-icon style="width: 20px; height: 20px;" *ngIf="profile.source=='INSTAGRAM'" name="logo-instagram"/>
                  <ion-icon style="width: 20px; height: 20px;" *ngIf="profile.source=='META'" name="logo-facebook"/>
                </ion-badge>
              </div>
            <ion-label>{{ profile.name }}</ion-label>
            <ion-checkbox alignment="end" (ionChange)="selectProfile(profile)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-segment value="default">
          <ion-segment-button value="default">
            <ion-label>Facebook</ion-label>
          </ion-segment-button>
          <ion-segment-button value="segment">
            <ion-label>Instagram</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-item style="min-height: 10rem;">
          <ion-label position="stacked">Enter post content</ion-label>
          <ion-textarea style="min-height: 10rem;" placeholder="Type something here" [autoGrow]="true" [(ngModel)]="content" />
        </ion-item>
        <ion-item>
          <ion-button fill="image-outline" (click)="uploadPhoto()" [disabled]="videosInfo.length>0">
            <ion-icon name="image-outline" />
          </ion-button>
          <ion-button fill="image-outline" (click)="uploadVideo()" [disabled]="imagesInfo.length>0">
            <ion-icon name="logo-youtube" />
          </ion-button>
        </ion-item>
        <ion-item>
          <div class="image-raw" *ngIf="imagesInfo.length!=0">
            <div class="container" *ngFor="let imageInfo of imagesInfo" (click)="deletePhoto(imageInfo)">
              <img class="image" alt="" [src]=imageInfo/>
              <div class="overlay">
                <div class="text">delete image.</div>
              </div>
            </div>
          </div>
          <div *ngIf="videosInfo.length!=0">
            <video *ngFor="let videoInfo of videosInfo" style="margin-right: 0.5rem; margin-top: 0.5rem; width: 100px; height: 100px;" [src]=videoInfo ></video>
          </div>
        </ion-item>

        <ion-item style="margin-top: 1rem;">
          <ion-label>Schedule Post or Post now</ion-label>
        </ion-item>
        <ion-item>
          <ion-input type="datetime-local" [(ngModel)]="postScheduleTime" />
          <!-- <ion-note slot="error">Schedule Time need to be an hour later by now.</ion-note> -->
        </ion-item>
        <ion-card>
          <ion-card-content>
            <ion-button fill="outline" class="saveDraft-button" (click)="saveDraft()">Save draft</ion-button>
            <br />
            <ion-button  fill="outline" class="discard-button" color="danger" (click)="discardPost()">Discard Post</ion-button>
            <ion-button color="warning" class="post-button" (click)="createPost()">Schedule/Publish Post</ion-button>
          </ion-card-content>
        </ion-card>
        <!-- <ion-item style="margin-top: 1rem; text-align: center;">
          <ion-button fill="outline">Save draft</ion-button>
        </ion-item>
        <ion-item style="text-align: center;">
          <ion-button  fill="outline" color="danger">Discard Post</ion-button>
          <ion-button color="warning">Schedule/Publish Post</ion-button>
        </ion-item> -->
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Post Preview</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-circle-outline" />
          <!-- <ion-avatar>
            <ion-icon name="person-circle-outline" />
          </ion-avatar> -->
          <div style="margin-left: 1rem;">
            <ion-label>
              Profile Name
            </ion-label>
            <ion-label>
              {{ dateString }}
            </ion-label>
          </div>
        </ion-item>

          <!-- facebook preview -->
        <ion-item>
          <div style="margin-top: 1rem;">
            <!-- <ion-label aria-placeholder="Post content">
              {{ content }}
            </ion-label> -->
            <ion-textarea [autoGrow]="true" [readonly]="true" [(ngModel)]="content" />
          </div>
        </ion-item>
        <ion-item>
          <div *ngIf="imagesInfo.length!=0">
            <!-- <div [ngSwitch]="imagesInfo.length % 3">
              <div *ngSwitchCase="1"><p>3N+1</p></div>
              <div *ngSwitchCase="2"><p>3N+2</p></div>
              <div *ngSwitchDefault><p>Default 三的倍數</p></div>
            </div> -->
            <div style="display: inline-flex; max-width: 500px;">
              <img alt="" *ngFor="let imageInfo of imagesInfo" style="margin-right: 0.5rem; margin-top: 0.5rem; width: 50%; height: 50%;" [src]=imageInfo/>              
            </div>
          </div>
          <div *ngIf="videosInfo.length!=0">
            <video *ngFor="let videoInfo of videosInfo" style="margin-right: 0.5rem; margin-top: 0.5rem;" [src]=videoInfo ></video>
          </div>
        </ion-item>

        <div style="margin-top:1rem;">
          <ion-label>Post preview is not an exact representation of what it looks like on the platform.</ion-label>
        </div>

        <ion-item style="margin-top: 1rem;">
          This card is for draft.
        </ion-item>
        <ion-card style="margin-top: 1rem;">
          <ion-card-header>
            <ion-card-title>Gemini help.</ion-card-title>
            <ion-card-subtitle>Try out Gemini to help your post more attractive.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let message of chatHistory">
                <div style="width: 100%; text-align: end;" *ngIf="message.sender=='You'">
                  <p style="color:rgb(234, 12, 171)" font-weight:bold>{{ message.sender }}</p> 
                  <p> {{ message.text }} </p> 

                  <div class="image-raw" *ngIf="message.images.length!=0">
                    <div class="container" style="direction: rtl; column-gap: 10px;" *ngFor="let imageURL of message.images">
                      <img class="image" alt="" [src]=imageURL/>
                    </div>
                  </div>  
                </div>
                
                

                  
                <div *ngIf="message.sender=='Gemini'">
                  <ion-checkbox alignment="start" (ionChange)="selectOutput(message)"></ion-checkbox>
                  <p style="color:rgb(12, 112, 234)" font-weight:bold>{{ message.sender }}</p> 
                  <span> {{ message.text }}</span>
                </div>
                
              </ion-item>
            </ion-list>

            <ion-spinner id="spinner" name="dots" style="display: none"></ion-spinner>
            
            <ion-item>
              <div class="image-raw" *ngIf="chatBoxImagesInfo.length!=0">
                <div class="container" *ngFor="let imageInfo of chatBoxImagesInfo" (click)="deletePhotoForGeminiChatBox(imageInfo)">
                  <img class="image" alt="" [src]=imageInfo/>
                  <div class="overlay">
                    <div class="text">delete image.</div>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-textarea style="min-height: 10rem; border-radius: 10%; border: 1px; border-color: aliceblue;" 
              fill="outline" placeholder="Enter text" [autoGrow]="true" [(ngModel)]="newMessage" />
            
            <ion-button fill="outline" (click)="sendMessage()">
              Send
            </ion-button>
            <ion-button fill="outline" (click)="uploadPhotoForGemini()">
              Upload image
            </ion-button>
            <ion-button fill="outline" (click)="fitProposal()">
              Use this proposal
            </ion-button>
          </ion-card-content>
        </ion-card>

        <!-- <div style="margin-top:1rem;">
          <ion-label>Draft Wizard</ion-label>
        </div> -->

        <!-- <ion-content>
          <ion-list style="margin-top: 1rem;">
            <ion-item *ngFor="let message of chatHistory">
              
            </ion-item>
          </ion-list>
        
          <ion-item lines="none" id="chat-input"> 
            <ion-textarea autoGrow="true" [(ngModel)]="newMessage" placeholder="Type your message..."></ion-textarea>
            <ion-button (click)="sendMessage()">Send</ion-button>
          </ion-item>
        </ion-content> -->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>